.navigation {
  position: relative;
  width: 80px;
  height: 85vh;
  background: #ffffff;
  width: 80px;
  border-left: 10px solid #ddd5d5;
  overflow: hidden;
  box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.05);
  transition: 0.5s;
}

.toggle {
  position: absolute;
  top: 20px;
  left: 30px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.toggle::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 5px;
  border-radius: 12px;
  background-color: #6b7077;
  left: 10px;
  bottom: 30px;
  transition: 1s;
}

.toggle::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 5px;
  border-radius: 12px;
  background-color: #365fa1;
  left: 10px;
  bottom: 15px;
  transition: 1s;
}

.navigation.active {
  width: 300px;
}

.navigation.active.toggle::before {
  transform: rotate(-405deg);
  bottom: 23px;
}

.navigation.active.toggle::after {
  transform: rotate(225deg);
  bottom: 23px;
}

.navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.navigation ul li {
  position: relative;
  list-style: none;
  width: 100%;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.navigation ul li:hover {
  background: rgb(182, 161, 161);
}

.navigation ul li:nth-child(1) {
  top: 20px;
  margin-bottom: 40px;
  background: none;
}

.navigation ul li a {
  position: relative;
  display: block;
  text-decoration: none;
  width: 100%;
  display: flex;
  color: #922c88;
}

.navigation ul li:hover:not(:first-child) a {
  color: #1e1f22;
  font-size: 20px;
  transition: 0.3s;
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 70px;
  text-align: center;
}

.navigation ul li a .icon ion-icon {
  font-size: 1.75em;
}
.navigation ul li a i {
  font-size: 1.75em;
}

.navigation ul li a .title {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
}
